* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


html {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body {
    height: 100vh;
    background-color: black;
}

canvas {
    aspect-ratio: 16 / 9;
    width: min(100vw, calc(100vh * (16 / 9)));
    height: min(100vh, calc(100vw * (9 / 16)));
    background-color: hsl(0, 0%, 10%);
}